<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Code3</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/estilos.css">
    <style>
    #cabecera {
    width: 100%;
    background-image:url("img/with love from.png");
    height: 400px;
        }
        #div_der {float:right;}
        #col1 {
   display: flex;
   justify-content: center;
   align-items: center;
}

    </style>
</head>
<body style="background-color:rgb(255, 255, 255);background-image: url(img/fondo.jpg);background-repeat: no-repeat;background-position: center center;background-attachment: fixed;background-size:cover">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" style ="background-color: #343a40e8!important;">
      <a class="navbar-brand" href="#" style="font-size:5mm; color: green" ><img src="../img/Picture1.png" style="height: 30px">  CODE 3</a>
      <div style="width: 75%">
      </div>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login In</button>
          <div style="width: 5%">
          </div>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Up</button>
      </div>
    </nav>
    
    <header class="masthead text-center text-white" id = cabecera>
        <div class="masthead-content">
          <div class="container">
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Descubre +</a>
          </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
      </header>   

    <main role="main" class="container">
  
        <div class="" style="padding: 5rem;">
            <div class="container">
              <div class="row">
                <div class="col-xl-6">
                    <div class="" style = "text-align:center;">
                        <h1 class="display-4"><strong>Bienvenido a Code 3</strong> </h1>
                        <p class="lead">Trabajamos para darte la mayor comodidad en cuanto 
                          a desarrollar y almacenar tus proyectos web
                          para servirte tenemos un ambiente amigable donde podras tener acceso a edición en los 
                          siguientes lenguajes :
                          <br> 
                          1. Javascript<br> 
                          2. HTML<br> 
                          3. CSS 3<br>
                        los cuales podras manipular casi al tiempo.
                        </p>
                      </div>       
                </div>
                <div class="col-xl-6">
                  <div class="" >
                    <img src="img/logo.png" style="float: right;"  width="400" height="400">
                  </div>
                </div>
              </div>
            </div>
        </div>
      </main><!-- /.container -->  
      
      <main role="main" class="container">
  
          <div class="starter-template">
              <div class="container">
                <div class="row">
                  <div class="col-xl-6">
                    <div class=""  style="align-content: center">
                        <img src="img/trabajoequipo.png" style="float: right;"  width="400" height="400">

                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="centrar-contenido-div" >

                        <p class="lead">Trabaja con tu equipo en el mismo proyecto. De manera simultanea.</p>
                      
                    </div>
                  </div>
                </div>
              </div>
          </div>
        
        </main><!-- /.container -->  
      <footer style ="background-color: #343a40e8">
        <div class="container">
          <p class="m-0 text-center text-white small">Copyright &copy; CODE 3 2019<br> </p>
        </div>
      </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>